body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1 {
  font-size: 80px  !important;
  font-weight: 700  !important;
}
p {
  font-size: 35px  !important;
  font-weight: 400  !important;
  text-align: center;
}
.quote p{
  font-size: 35px  !important;
  font-weight: 400;
}
.quote{
  text-align: center;
  border: 1.5REM solid #0DCAF0;
  background-image: url(../img/bg-image-28.jpg);
  background-position: center;
  background-size: cover;
}
.ovr_rly{
  background-color:  #0DCAF0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}
i {
  font-size: 50px  !important;
}
.brd{
  border: 0.5px solid #0DCAF0;
}
 